@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://roncwynn.github.io/" target="_blank">About Me</a>
    </div>

    <div class="content px-4">
        @Body
        <footer class="footer">
            @TrademarkMessage
        </footer>
    </div>
</div>

@code {
   public string TrademarkMessage { get; set; } =
       "©Ron Wynn Enterprises, INC.  2020 ALL RIGHTS RESERVED";
}
